html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        a.update-table(href='/update-cobj') Add to this table
        table.obj-table
          tr
            th Name
            th Specie
            th Description
            each pet in data
                tr 
                    td #{pet.properties.name}
                    td #{pet.properties.specie}
                    td #{pet.properties.description}