@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
.update-table,
.obj-table,
.return {
    margin: 1rem;
}

.obj-table,
.obj-table th,
.obj-table td {
    border: 1px solid black;
}

.obj-table th,
.obj-table td {
    text-align: center;
    padding: 0.25rem 1rem;
}

.form-wrapper {
    font-size: 18px;
    padding: 2rem;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

button {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}